# Ignore node_modules directory
node_modules/

# Ignore compiled files
*.exe
*.o
*.pyc
*.class

# Ignore IDE and editor files
.idea/
.vscode/
.sublime-project

# Ignore log files
*.log

# Ignore configuration files
.env

# Ignore build directories
build/
dist/
